.primary{
    background-color: blue;
    color:white;
    padding: 5px 30px;
    }
.secondary{
    background-color: #a6ff00;
    color:black;
    padding: 5px 30px;
}
.handry{
    background-color: hsl(12, 100%, 50%);
    color:white;
    padding: 5px 30px;  
}